{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Fire in Algerian Forest</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="day" id="day" placeholder=" DAY ">
            <input type="number" name="month" id="month" placeholder=" MONTH ">
            <input type="number" name="year" id="year" placeholder="Year">
            <input type="number" name="Temperature" id="Temperature" placeholder="Temperature">
            <input type="number" name="RH" id="RH" placeholder="RH Score">
            <input type="number" name="Ws" id="Ws" placeholder="WS Score">
            <input type="number" name="Rain" id="Rain" placeholder="Rain Score">
            <input type="number" name="FFMC" id="FFMC" placeholder="FFMC Score">
            <input type="number" name="DMC" id="DMC" placeholder="DMC Score">
            <input type="number" name="DC" id="DC" placeholder="DC Score">
            <input type="number" name="ISI" id="ISI" placeholder="ISI Score">
            <input type="number" name="BUI" id="BUI" placeholder="BUI Score">
            <input type="number" name="FWI" id="FWI"placeholder="FWI" step="any">

</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}